<section class="space-y-3">
  <h2 class="mb-6 font-serif text-xl font-medium italic text-primary">
    Über mich
  </h2>
  <p class="text-primary">
    Seit meiner Kindheit bin ich fasziniert von Computer und Technik. Schon
    während der Schulzeit habe ich viele eigene Projekte verwirklicht. Am
    liebsten erstelle ich User-Interfaces, Websites und Webapplikationen, um
    Bedürfnisse des Nutzers zu erfüllen und allfällige Probleme zu lösen.
  </p>
  <p class="text-primary">
    Wenn ich mal nicht am coden bin, verbringe ich meine Zeit gerne an der
    frischen Luft, mit Freunden oder mache Musik. Ich bin ein Generalist und
    entdecke jeden Tag neue Tools, die mich interessieren.
  </p>
</section>
