<section class="space-y-3">
  <h2 class="mb-6 font-serif text-xl font-medium italic text-primary">
    Über mich
  </h2>
  <p class="text-primary">
    Seit meiner Kindheit bin ich fasziniert von Computer & Technik und habe mich
    in den letzten Jahren auf die Softwareentwicklung spezialisiert. Am liebsten
    erstelle ich User-Interfaces, Websites und Webapplikationen, um Probleme für
    meine Nutzer zu lösen.
  </p>
  <p class="text-primary">
    Wenn ich mal nicht am coden bin, verbringe ich meine Zeit gerne an der
    frischen Luft, verbringe Zeit mit Freunden oder mache Musik. Ich bin ein
    Generalist und entdecke jeden Tag neue Dinge, die mich interessieren.
  </p>
</section>
