---
const year = new Date().getFullYear();
---

<footer class="flex justify-between pb-12">
  <p class="text-xs text-secondary">
    Erstellt mit <a
      href="https://www.astro.build/"
      class="underline-offset-2 hover:underline">Astro</a
    >, gehosted & gesichert von <a
      href="https://www.cloudflare.com/"
      class="underline-offset-2 hover:underline">Cloudflare</a
    >, {year} Tim Buser.
  </p>
  <a
    href="/"
    class="text-right text-xs text-secondary underline-offset-2 hover:underline"
    >zur Startseite</a
  >
</footer>
