<section class="space-y-6 py-12">
  <div>
    <h1 class="spacing text-3xl text-primary">Digitaler Entdecker.</h1>
    <h1 class="text-3xl text-secondary">
      Bereit in eine neue Welt einzutauchen.
    </h1>
  </div>
  <p class="text-primary">
    Ich bin lernbegierig und hoch motiviert, Neues im Bereich
    Softwareentwicklung zu entdecken. Mit meinem Maturabschluss im
    Schwerpunktfach Gestaltung und Kunst habe ich bereits ein gutes Auge für
    schöne und praktische User Interfaces.
  </p>
</section>
