<section class="space-y-6 py-12">
  <div>
    <h1 class="spacing text-3xl text-primary">Digitaler Entdecker.</h1>
    <h1 class="text-3xl text-secondary">Bereit für neue Herausforderungen.</h1>
  </div>
  <p class="text-primary">
    Als junger Softwareentwickler bin ich stets auf der Suche nach neuen
    Technologien, um Grenzen auszutesten und voranzutreiben. Mit meinem
    Hintergrund in der Gestaltung bin ich bestens geeignet für Ihre nächste
    Herausforderung.
  </p>
</section>
