---
import { getCollection } from "astro:content";
const projects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});
projects.sort((a, b) => {
  return Number(new Date(b.data.date)) - Number(new Date(a.data.date));
});
projects.splice(4);
---

<section class="space-y-3">
  <h2 class="font-serif text-xl font-medium italic text-primary">
    Ausgewählte Projekte
  </h2>

  {
    projects.map((project) => (
      <div class="rounded-md py-4 transition-all duration-300 sm:-translate-x-4 sm:px-4 sm:hover:bg-secondaryLight">
        <a href={"/projects/" + project.slug}>
          <p class="text-primary">{project.data.title}</p>
          <p class="inline-flex items-center font-medium text-secondary">
            {project.data.description}{" "}
            <svg
              class="ms-2 h-4 w-4 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.25"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </p>
        </a>
      </div>
    ))
  }

  <a
    class="inline-flex items-center text-sm font-medium text-secondary underline-offset-2 hover:underline"
    href="/projects"
  >
    zur Übersicht aller Projekte{" "}
    <svg
      class="ms-2 h-4 w-4 rtl:rotate-180"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.25"
        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
    </svg>
  </a>
</section>
