@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #000000;
    --color-secondary: #737373;
    --color-background: #ffffff;
    --color-secondary-light: #e5e5e5;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: #ffffff;
      --color-secondary: #737373;
      --color-background: #000000;
      --color-secondary-light: #171717;
    }
  }

  :root[data-theme="dark"] {
    --color-primary: #ffffff;
    --color-secondary: #737373;
    --color-background: #000000;
    --color-secondary-light: #171717;
  }

  :root[data-theme="light"] {
    --color-primary: #000000;
    --color-secondary: #737373;
    --color-background: #ffffff;
    --color-secondary-light: #e5e5e5;
  }

  body {
    background-color: var(--color-background);
  }
}
