---
import "../assets/global.css";
import Nav from "../components/sections/Nav.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head data-theme="light">
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      const currentTheme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");
      document.documentElement.setAttribute("data-theme", currentTheme);
      if (currentTheme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="mx-auto max-w-[800px] space-y-24 px-10">
    <Nav />
    <slot />
  </body>
</html>
