---
import "../assets/global.css";
import Nav from "../components/sections/Nav.astro";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head data-theme="light">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          url: "https://tbuser.pages.dev",
          image:
            "https://tbuser.pages.dev/_astro/lorelei_pb.14RwDYXQ_1SY9yj.webp",
          type: "Personal Portfolio",
        },
      }}
    />
    <script>
      const currentTheme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");
      document.documentElement.setAttribute("data-theme", currentTheme);
      if (currentTheme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <script defer data-domain="tbuser.dev" src="https://plausible.tbuser.dev/js/script.js"></script>
    </head
  >

  <body class="mx-auto max-w-[800px] space-y-24 px-10">
    <Nav />
    <slot />
  </body>
</html>
